@import "../../../common-styles/utils.scss";

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  margin-top: 47px;
  margin-bottom: 50px;
}

.label{
  display: block;
  padding: 14px 15px;
  border: 1px solid $text-col;
  max-width: 83px;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.span {
  margin-left: 16px;
  font-size: $base-fs;
  font-weight: 400;
  line-height: $base-lh;
  color: #7E7E7E;
}
