@import "../../../common-styles/utils.scss";

.wrapper{
    text-align: start;
}

.radio_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
}

.label {
    display: flex;
    align-items: center;
    font-size: $base-fs;
    font-weight: 400;
    line-height: $base-lh;
    margin-bottom: 7px;
    cursor: pointer;
    &:last-child{
        margin-bottom: 0;
    }
}

.input {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}