// Basic font size
$base-fs: 16px;
// Basic lineheight
$base-lh: 26px;
// Big font size
$big-fs: 40px;
// Big lineheight
$big-lh: 40px;

// Primary color
$primary-col: #f4e041;
// Secondary color
$secondary-col: #00bdd3;
// Background color
$bg-col: #f8f8f8;
// Error color
$error-col: #cb3d40;
//Text color
$text-col: rgba(0, 0, 0, 0.87);
//White color
$white-col: #fff;
//Hover color
$hovel-col: #ffe302;

//Transitions
$tr-timing-func: cubic-bezier(0, 0.11, 0.35, 2);
$tr-delay: 150ms;
$transition: scale(0.9);
