// Basic font size
$base-fs: 16px;
// Basic lineheight
$base-lh: 26px;
// Big font size
$big-fs: 40px;
// Big lineheight
$big-lh: 40px;

// Primary color
$primary-col: #F4E041;
// Secondary color
$secondary-col: #00BDD3;
// Background color
$bg-col: #F8F8F8;
// Error color
$error-col: #CB3D40;
//Text color
$text-col: rgba(0, 0, 0, 0.87);
//White color
$white-col: #FFF;
//Hover color
$hovel-col: #FFE302;

//Transitions
$tr-timing-func: cubic-bezier(0, 0.11, 0.35, 2);
$tr-delay: 150ms;
$transition: scale(0.9);