@import "../../common-styles/utils.scss";

.main_button {
  padding: 4px 23px;
  font-size: $base-fs;
  line-height: $base-lh;
  color: $text-col;
  background-color: $primary-col;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  transition: background-color $tr-delay $tr-timing-func, transform $tr-delay $tr-timing-func;
}

.main_button:hover, .main_button:focus, .main_button:active {
  background-color: $hovel-col;
  transform: $transition;
}
