@import "../../common-styles/utils.scss";

.spinner_wrapper {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
