@import "../../common-styles/utils.scss";

.picture {
  border-radius: 70px;
}

.name {
  margin: 20px 0;
  font-size: $base-fs;
  font-weight: 400;
  line-height: $base-lh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  overflow: hidden;
  text-overflow: ellipsis;
}
