@import 'modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
